{% load i18n %}
{% trans "Greetings" context "Email greeting followed by username" %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans with domain=domain %}You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on the {{ domain }} site.  If you do not 
wish to reset your password, please ignore this message.{% endblocktrans %}

{% trans "To reset your password, please click the following link, or copy and paste it into your web browser:" %}

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

{% trans "Your username, in case you've forgotten:" %} {{ user.email }}


{% blocktrans %}Best regards, {{ site_name }} Management{% endblocktrans %}